.about {
  display: flex;
  flex-direction: column;
  line-height: 1.4;
  background-color: var(--primary-color-dark);
  color: var(--secondary_color);
  height: 90vh;
  width: 60rem;
  margin: auto;
}

.about .title {
  font-size: 96px;
  font-family: "Fraunces", serif;
}

.about .description {
  font-size: calc(30px + 1.4vw);
  font-family: "Fraunces", serif;
  text-align: left;
  font-weight: 400;
  margin: auto;
}
