.about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 48px;
  padding: 48px 100px;
  background-color: var(--primary-color-dark);
  color: var(--secondary_color);
  height: 400px;
}

.about .title {
  font-size: 96px;
  font-family: "Bembo", serif;
}

.about .description {
  font-size: 20px;
  line-height: 28px;
  padding-right: 200px;
  font-family: "Inter", sans-serif;
  text-align: left;
  font-weight: 400;

}
