.core-skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 48px;
  padding: 48px 100px;
  background-color: var(--primary-color-dark);
  color: var(--secondary_color);
  font-family: "Work Sans", sans-serif;
  height: 90vh;
}

.core-skills .title {
  font-size: 96px;
  font-family: "Fraunces", serif;
  align-self: flex-start;
}

.core-skills .skills-table {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 28px;
  margin-bottom:40px;
}

.core-skills .other-skills {
  font-size: calc(15px + 0.78vw);
  font-weight: 700;
}