.footer {
  padding: 50px 20px;
  text-align: center;
}

.footer h2 {
  font-size: 2rem;
  color: var(--secondary_color);
  margin-bottom: 20px;
}

.footer .contacts {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.footer .contacts a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
}

.footer .contacts a:hover {
  text-decoration: underline;
}
