.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 100px;
  height: 100px;
  background-color: var(--primary-color-dark);
}

.header .logo {
  font-size: 16px;
  color: var(--secondary_color);
  font-family: "Inter", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}

.header nav ul {
  list-style: none;
  display: flex;
  gap: 64px;
}

.header nav ul li a {
  color: var(--secondary_color);
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
  
}

.header nav ul li a:hover {
  text-decoration: underline;
}