.selected-work {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color-dark);
  align-items: flex-start;
  padding-top: 5rem;
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
  width: 100vw;
  gap: 3rem;
}

.selected-work .title {
  font-size: 4rem;
  font-family: "Fraunces", serif;
  color: var(--secondary_color);
  padding-left: 2rem;
}

.selected-work .work-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));
  gap: 3rem;
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
  margin: 0 auto;
  width: 100vw;
  padding-left: 2rem;
  padding-right: 2rem;
}

.selected-work .all-projects {
  all:unset;
  text-transform: uppercase;
  background-color: var(--highlight-coral);
  font-family: "Work Sans", sans-serif;
  border-radius: 30px;
  color: #fff;
  padding: 16px 36px;
  margin: 4rem;
  font-size: 24px;
  text-align: center;
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.selected-work .all-projects:hover {
  box-shadow: 0.75rem 0.75rem 1.2rem rgba(0, 0, 0, 0.2);
  cursor:pointer;
}
