.selected-work {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 48px 100px;
  background-color: var(--primary-color-dark);
  gap: 48px;
}

.selected-work .title {
  font-size: 96px;
  font-family: "Fraunces", serif;
  color: var(--secondary_color);
}

.selected-work .work-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  width: 100%;
  gap: 1rem;
}

.selected-work .all-projects {
  all:unset;
  text-transform: uppercase;
  background-color: var(--highlight-coral);
  font-family: "Work Sans", sans-serif;
  border-radius: 30px;
  color: #fff;
  padding: 16px 36px;
  font-size: 24px;
  text-align: center;
  transition: background-color 0.3s, color 0.3s;
}

.selected-work .all-projects:hover {
  background-color: #fff;
  color: var(--highlight-coral);
  cursor:pointer;
}
