.skill-card {
  width: 350px;
  min-width: 260px;
  color: var(--secondary_color);
  /* border: 1px solid green; */
  text-align: left;
  min-height: 200px;
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.skill-card .name {
  font-size: 40px;
  color: var(--secondary_color);
  font-family: "Fraunces", serif;

}

.skill-card p {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}
