.work-card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--primary-color-light);
  padding: 24px;
  border-radius: 16px;
  color: #343A40;
  font-family: "Work Sans", sans-serif;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.work-card:nth-child(odd) {
  grid-row-end: span 2;
}

.work-card:hover {
  cursor: pointer;
  box-shadow: 12px 12px 20px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s;
}

.work-card .name {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.work-card .description {
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  font-weight:400;
}

.work-card .tags {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  bottom: 24px;
  gap: 4px;
}