.work-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 0.5rem 0.5rem 1.2rem rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  /* height: 32rem; */
}

.work-card:hover {
  cursor: pointer;
  box-shadow: 0.75rem 0.75rem 1.2rem rgba(0, 0, 0, 0.2);
}

.image-container {
  height: 30rem;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content-container {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 1rem;
  padding-top: 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-family: "Work Sans", sans-serif;
}

.name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.description {
  margin-top: 0; /* Ensure no extra margin */
  font-size: 1rem;
  line-height: 1.5;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-top: auto;
}